.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 768px) {
    .food-display-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
